

#carta{ 
    width: 100%;
    height: 100%;
    position: absolute; 
}
 
#cartaImagen{ 
    width: 25%;
    height: 50%;
    position: absolute;
    top: 30%;
    left: 15%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
   
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: sans-serif;
}
 

#contenedorPrecio{
    width: 25%;
    height: 50%;
    position: relative;
    top: 70%;
    left: 15%;
    transform: translate(-50%);  

}

#imagen{
    border-radius: 25px;
    height: 100%;
    width: 100%;
}

#cubrir{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    background: #f44336; 
    border-radius: 25px;
}
 
 #cartaImagen:hover{
    width: 25%;
    height: 49%;
 }
#cartaImagen:hover #cubrir{
    opacity: 0.75;
    transition: 0.3s;
}

#cartaImagen:hover #descripcionProducto{  
    
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -20%);
    color: #ffff; 
    font-family: verdana; 
    text-align: center;
    justify-content: center; 
    padding: 0;
    margin: 0;
    transition: 0.1s;
}

#tituloNombre{
    width: 85%; 
    position: relative;
    top: -5%;
    left: 8%; 
    color: white; 
    text-align: center; 
    background-color: #f44336;
    border-radius: 5px;
    padding: 5px; 
    
}

h5{
    font-size: 12px;
    margin: 0px;
}

#descripcionProducto{ 
    text-align: center;
    justify-content: center;
    margin-top: 10px;

}

#descripcionProducto > p { 
    justify-content: center;
    font-size: 14px;
    font-family: sans-serif;
}

#precio {
    margin-top: 10px;
    display: grid; 
    grid-gap: 10px; 
    grid-template-columns: 2fr 2fr 1fr;
}

#precioAntes { 
    grid-column: 1;
    color: #f44336;
}

#precioAntes > p{
    font-size: 12px;
    font-family:   'Lucida Sans Unicode';
    text-align: right;
}

#precioAhora { 
    grid-column: 2; 
    text-align: left;
}

#boton { 
    grid-column: 3;
    text-align: left;
  }

#button{
    background-color: #f44336;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    text-decoration: none;
  }